## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv('../vacation_search/WeatherPy_vacation.csv')
vacation_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Acapulco,MX,84.02,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
1,5,Arraial Do Cabo,BR,75.06,light rain,-22.9661,-42.0278,Pousada Porto Praia
2,8,Rikitea,PF,77.32,overcast clouds,-23.1203,-134.9692,People ThankYou
3,11,Pitimbu,BR,79.39,broken clouds,-7.4706,-34.8086,Reserva do Abiaí
4,12,San Pedro,PH,79.36,clear sky,14.3500,121.0167,Villa Veronica Resort Private Pool
...,...,...,...,...,...,...,...,...
161,681,Upington,ZA,84.58,overcast clouds,-28.4478,21.2561,River Place Manor
162,689,Bairiki,KI,84.20,light rain,1.3292,172.9752,Tarawa Boutique Hotel
163,690,Kulhudhuffushi,MV,81.82,broken clouds,6.6221,73.0700,Haajy Guest House 1
164,693,Ayer Tawar,MY,77.29,few clouds,4.2954,100.7548,Ayer Tawar CK Homestay
165,696,Port Augusta,AU,76.71,broken clouds,-32.5000,137.7667,Majestic Oasis Apartments

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
weather_descript = vacation_df['Weather Description']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Tomatlan']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Tomatlan']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Lazaro Cardenas']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Acapulco']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Atoyac']

vacation_stop1

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
107,421,Lazaro Cardenas,MX,83.53,clear sky,17.9583,-102.2,Baymont by Wyndham Lazaro Cardenas

In [25]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0],vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0]

start

(19.9333, -105.25)

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
mexico_trip = gmaps.directions_layer(
    start, end, waypoints = [stop1, stop2, stop3], 
    travel_mode='DRIVING')

fig.add_layer(mexico_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,503,Tomatlan,MX,87.21,clear sky,19.9333,-105.2500,El Salvial
1,421,Lazaro Cardenas,MX,83.53,clear sky,17.9583,-102.2000,Baymont by Wyndham Lazaro Cardenas
2,1,Acapulco,MX,84.02,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
3,195,Atoyac,MX,79.16,clear sky,20.0167,-103.5333,OYO Hotel Del Portal

In [35]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.

fig = gmaps.figure(layout={'width': '1200px', 'height': '800px'})
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='800px', width='1200px'))